@charset "utf-8"; 
/*    Gloabl    */ 
body, div,iframe, ul, ol, dl, dt, dd, li, dl, 
h1, h2, h3, h4, table,th, td, input, button, select,textarea {margin:0; padding:0;
font-style: normal;font:12px/1.5 "\5FAE\8F6F\96C5\9ED1","宋体",Arial, Helvetica, sans-serif;}
/* \5FAE\8F6F\96C5\9ED1 微软雅黑 转换Unicode编码表网址 http://tool.lu/fontfamily/ */ 
ol, ul ,li{list-style: none;} 
img {border: 0; vertical-align:middle;} 
body{color:#000000;background:#FFF; text-align:center;}

a{color:#000000;text-decoration:none; } 
a:hover{color:#F00;text-decoration:none;}

.fl{float:left;} 
.fr{float:right;}

.clear:after{
  content:"";
  display:block;
  clear:both;      
}
.clear{
  zoom:1;  
}

.mt10{margin-top:10px}
.mb10{margin-bottom:10px}
.pt10{padding-top:10px;} 
.pb10{padding-bottom:10px;}

.head,.main,.foot{ margin:0 auto; width:1000px; overflow:hidden}